.booking_body {
  background-color: rgb(176, 217, 219);
}

.hotelbd {
  padding: 20px;
  background-color: rgb(136, 179, 179);
  border-radius: 10px
}

.hotbdlb {
  font-size: 27px;
  color: aliceblue;
}

.booking-form {
  width: 630px;
  margin: 0 auto;
  padding: 50px;
  background: transparent;
}

div.group1 {
  margin: 20px 0 ;
}

div.group1.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 22px;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.group1.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #1d1b1b;
}

.exrq {
  padding: 20px;
  background-color: rgb(136, 179, 179);
  border-radius: 10px;
  
}

.adbooking {
  font-size: 27px;
  color: aliceblue;
}

.adpeople {
  width: 75%;
}

#tour {
  color: bisque;
}

button {
  height: 50px;
  background: rgb(9, 83, 94);
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
  padding: 0 12px;
}

button:hover {
  background: #9e8ced;
}

